<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.smalllemon">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name="com.example.app.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/TransParentTheme">
        <meta-data
            android:name="design_width"
            android:value="1080" />
        <meta-data
            android:name="design_height"
            android:value="1920" />

        <!--启动界面-->
        <activity
            android:name=".LaunchActivity"
            android:theme="@style/LaunchActivity">
        <activity
            android:name=".LaunchActivity"
            android:theme="@style/LaunchActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

        </activity>
        <!-- 登陆界面 -->
        <activity android:name=".LoginActivity" />
        <!-- 主界面 -->
        <activity android:name=".MainActivity" />
        <activity android:name=".LoginForgetActivity"></activity>
        <activity android:name=".RegisterActivity"></activity>
        <activity android:name=".UpdatePasswordActivity"></activity>
        <activity android:name=".SettingActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginForgetActivity"></activity>
        <activity android:name=".RegisterActivity"></activity>
    </application>

</manifest>